
/*------------------- Generare CUI --------------------*/

.header-row .title p {
    text-align: center;
    position: relative;
    color: #0788A8;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.header-row .title p span{
    color: #DD3333;
}

.cui-row, .email-row, .random-row, .tel-row{
    border: 1px solid #0788A8;
    padding-top: 10px;
    border-radius: 5px; /* :)) */
    margin-bottom: 1.25rem;
    padding-left: 5px;
}

input[type="text"], .newPhM, .newPhF{
     border: none;
     font-size: 20px;
     color: #0788A8;
     font-weight: 700;
}
input[type="text"]::selection{
   background: white;
   color: #000000;
}

input[type="text"]:focus{
    border-color: #ffffff;
    outline: 0 none;
}

.copy-btn{ /* lungimea butoanelor "copiaza" */
    width: 7.875rem;
}

.checkSign {
    display: none;
    font-size: 20px;
    color: rgb(6, 104, 27);
    font-weight: 900;
}

/*------------------- Generare nr random ---------------*/
.newRandom input[type="text"] {
    width: 140px;
}

.zecimalsClass {
    text-align: right;  /*de modificat pt display-uri mai mici */
}

