
/* Generare CUI*/

.header-row .title p {
    text-align: center;
    position: relative;
    color: #0788A8;
    font-size: 30px;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.header-row .title p span{
    color: #DD3333;
}

.cui-row{
    border: 1px solid rgba(7, 139, 168, 0.37);
    padding-top: 10px;
    border-radius: 5px; /* :)) */
}

input[type="text"]{
     border: none;
     font-size: 20px;
     color: #0788A8;
     font-weight: 700;
}
input[type="text"]::selection{
   background: white;
   color: #000000;
}

input[type="text"]:focus{
    border-color: #ffffff;
    outline: 0 none;
}

.checkSign {
    display: none;
    font-size: 20px;
    color: rgb(6, 104, 27);
    font-weight: 700;
    padding-left: 0px;
}